* {
    max-width: 100%;
}

html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
}

body {
    background-color: #E8FFCE;
}

/* STARTING HEADER STYLES */

header .container {
    padding: 2.5rem 3rem 1rem;   
}

.header__content .header__logo {
    max-width: 250px;
    margin: auto;
}

.header__content .header__logo h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: clamp(1.375rem, 1.5vw, 1.75rem);
    font-family: 'Lato', sans-serif;
}

.header__content .header__logo h1 a {
    transition: color 0.3s ease-in-out;
}

.header__content .header__logo h1 a:hover {
    color: #94ADD7;
    transition: color 0.3s ease-in-out;
}



.header__content .header__logo img {
    box-shadow: #333 5px 5px 25px; 
    border-radius: 50%;
}

.header__content .header__logo img {
    transition: box-shadow 0.3s ease-in-out;
}

.header__content .header__logo img:hover {
    box-shadow: #93FDDE 5px 5px 20px;
    transition: box-shadow 0.3s ease-in-out;    
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.header__menu a {
    width: 100%;
    height: 100%;
    max-width: 30px;
}

.header__menu .social-link {
    transition: filter 0.3s ease-in-out;
}

.header__menu .social-link:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(11%) saturate(1225%) hue-rotate(183deg) brightness(91%) contrast(83%);
    transition: filter 0.3s ease-in-out;
}

/* ENDING HEADER STYLES */

/* STARTING MAIN SECTION STYLES */

.main .container {
    padding: 0 3rem 1rem;
}

.main .description {
    text-align: center;
    margin-top: 1rem;
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #000;
    max-width: 90%;
    margin: 0 auto;
}

.main .buttons {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

.main .buttons .buttons__item {
    list-style: none;
}

.main .buttons .buttons__item .buttons__link {
    background-color: #fff ;
    padding: 0.5rem .75rem;
    border: 1px solid #000;
    box-shadow: #333 3px 3px 0px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: clamp(1.125rem, 1.5vw, 1.375rem);
    color: #000;
    font-family: 'Lato', sans-serif;
    transition: background-color 0.3s ease-in-out;
}

.main .buttons .buttons__item .buttons__link:hover {
    background-color: #94ADD7;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

/* ENDING MAIN SECTION STYLES */

/* STARTING FOOTER STYLES */

footer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background: #333;
    width: 100%;
    padding: 1rem;
}

footer p {
    color: #fff;
    font-size: clamp(.875rem, 1.5vw, 1rem);
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

/* ENDING FOOTER STYLES */